<nav class="navbar">
    <ul class="navbar-list" style="height: 50px">
        <li class="navbar-item"><a routerLink="/profile">Profile</a></li>
        <li class="navbar-item"><a routerLink="/tasks">Tasks</a></li>
        <li class="navbar-item" *ngIf="isAccessToAnalyticsAllowed()"><a routerLink="/analytics">Analytics</a></li>
        <li class="navbar-item" *ngIf="isAccessToAdminPanelAllowed()"><a routerLink="/admin">Admin panel</a></li>
        <li class="navbar-item">
          <button
            mat-raised-button
            class="mat-white-button green-button"
            style="height: 35px; text-align: center" routerLink="/login" (click)="logout()">Logout</button>
        </li>
    </ul>
</nav>
