<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<div class="login-container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="email" name="email" id="email" required/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="password" name="password" id="password" required/>
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
    </div>
  </form>

  <div class="form-group">
    <a href="password-reset/init">Forgot password?</a>
  </div>

  <div class="separator">or</div>

  <asl-google-signin-button type="standard" size="large" width="300"></asl-google-signin-button>

  <div class="form-group" style="margin-top: 50px">
    <p>Don't have an account? <a href="/register">Create one</a></p>
  </div>
</div>
</body>
</html>
